/node_modules
/oh_modules
/local.properties
/.idea
entry/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/entry/libs/arm64-v8a/libshared.so
/entry/src/main/cpp/thirdparty/biz_entry/libshared_api.h